    @font-face {
        font-family: 'YandexSansText';
        src: url('fonts/YandexSansText-Regular.eot');
        src: url('fonts/YandexSansText-Regular.eot') format('embedded-opentype'), url('fonts/YandexSansText-Regular.woff2') format('woff2'), url('fonts/YandexSansText-Regular.woff') format('woff'), url('fonts/YandexSansText-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        font-family: 'YandexSansText', sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        color: #8a8a8a;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .title {
        color: #88ebf8;
        text-align: center;
    }
    
    .button {
        color: #8a8a8a;
        background-color: #c7f6fc;
        border: 1px solid #8a8a8a;
        border-radius: 3px;
        padding: 5px 8px;
    }
    
    .button:hover {
        color: #8a8a8a;
        background-color: #ffffff;
        border-color: #ffffff;
    }
    /* header */
    
    .header {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #c7f6fc;
    }
    
    .header__menu {
        display: flex;
        list-style: none;
    }
    
    .header__menu-item {
        margin-right: 20px;
    }
    
    .menu-link {
        color: #8a8a8a;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .menu-link:hover {
        color: #ffffff;
    }
    
    .noshown {
        display: none;
    }
    
    .shown {
        display: block;
    }
    
    .mobile-menu__container {
        display: none;
    }
    
    .btn-close {
        margin-top: 40px;
        margin-left: 20px;
    }
    
    @media(max-width: 768px) {
        .header {
            justify-content: space-between;
        }
        .header__menu {
            display: none;
        }
        .header__button {
            margin-right: 20px;
        }
        .mobile-menu {
            display: block;
            padding: 0 16px;
            width: 82px;
            height: 50px;
            border: none;
            background-color: #c7f6fc;
        }
        .mobile-menu__icon {
            display: block;
            position: relative;
            background: #8a8a8a;
            height: 4px;
            transition: transform 0.25s;
        }
        .mobile-menu__icon::after,
        .mobile-menu__icon::before {
            content: "";
            display: block;
            position: absolute;
            background: #8a8a8a;
            width: 100%;
            height: 4px;
        }
        .mobile-menu__icon::after {
            top: 10px;
        }
        .mobile-menu__icon::before {
            top: -10px;
        }
        .mobile-menu__container {
            display: none;
            position: absolute;
            left: 0;
            top: 80px;
            right: 0;
            z-index: 999;
            transition: .5s;
        }
        .mobile-menu__container.shown {
            display: block;
        }
        .mobile-menu__list {
            list-style: none;
            padding-left: 0;
            text-align: center;
            background-color: #c7f6fc;
        }
        .mobile-menu__item {
            padding-bottom: 15px;
            text-transform: uppercase;
        }
    }
    /* about */
    
    .about {
        display: flex;
        margin-top: 130px;
        align-items: center;
        justify-content: center;
    }
    
    @media screen and (max-width: 640px) {
        .about {
            flex-direction: column;
            margin-top: 100px;
        }
    }
    
    .about__image {
        height: auto;
        width: 100%;
        max-width: 350px;
        border-radius: 50%;
    }
    
    .about__text {
        max-width: 600px;
        margin-left: 50px;
    }
    
    @media screen and (max-width: 640px) {
        .about__text {
            margin-left: 0;
            margin-top: 40px;
            text-align: center;
        }
    }
    
    .about__text-description {
        margin-top: 30px;
    }
    /* skills */
    
    .skills {
        margin-top: 150px;
    }
    
    .skills__title {
        margin-bottom: 50px;
    }
    
    .skills__item {
        margin-bottom: 50px;
    }
    
    @media screen and (max-width: 768px) {
        .skills__item {
            text-align: center;
        }
    }
    /* projects */
    
    .projects {
        margin-top: 50px;
    }
    
    .projects__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: 1px solid #c7f6fc;
    }
    
    .projects__item:last-child {
        border-bottom: 1px solid #c7f6fc;
    }
    
    @media screen and (max-width: 960px) {
        .projects__item {
            flex-direction: column;
        }
    }
    
    .projects__item:nth-child(odd) {
        flex-direction: row-reverse;
    }
    
    @media screen and (max-width: 960px) {
        .projects__item:nth-child(odd) {
            flex-direction: column;
        }
    }
    
    .projects__item-image {
        height: auto;
        width: 100%;
        max-width: 300px;
    }
    
    .projects__item-text {
        max-width: 600px;
    }
    
    @media screen and (max-width: 960px) {
        .projects__item-text {
            text-align: center;
            margin-top: 40px;
        }
    }
    /* contacts */
    
    .contacts {
        padding-top: 50px;
    }
    
    .contacts__title {
        margin-bottom: 50px;
    }
    
    .contacts__link {
        padding-left: 50px;
    }
    
    .contacts__link-tel,
    .contacts__link-email {
        position: relative;
        margin-bottom: 15px;
    }
    
    .contacts__link-tel::before,
    .contacts__link-email::before {
        content: "";
        position: absolute;
        top: 0;
        left: 15px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
    }
    
    .contacts__link-email {
        margin-bottom: 30px;
    }
    
    .contacts__link-tel::before {
        background-image: url("img/telephone-call.png");
    }
    
    .contacts__link-email::before {
        background-image: url("img/email.png");
    }
    
    .contacts__link-description {
        color: #8a8a8a;
        text-decoration: none;
    }
    
    .contacts__link-description:hover {
        color: #88ebf8;
    }
    
    .svg-btn:hover {
        fill: #88ebf8;
    }
    
    .contacts__link-social {
        font-size: 0;
    }
    
    .contacts__link-social-tg {
        margin-right: 20px;
        margin-left: 15px;
    }
    
    @media screen and (max-width: 632px) {
        .contacts__form {
            margin-top: 30px;
        }
    }
    
    .contacts__form-text {
        font-weight: bolder;
    }
    
    .contacts__form-input {
        font-size: 15px;
    }
    
    .contacts__form-input:focus {
        border-color: #88ebf8;
        box-shadow: none;
        color: #8a8a8a;
    }
    
    .contacts__form-btn {
        background-color: #ffffff;
        border: 1px solid #8a8a8a;
    }
    
    .contacts__form-btn:hover {
        color: #ffffff;
        background-color: #88ebf8;
        border-color: #88ebf8;
    }
    
    .contacts__form-:focus {
        box-shadow: none;
    }
    /* footer */
    
    .footer {
        margin-top: 30px;
        padding-top: 15px;
        padding-bottom: 7px;
        background-color: #c7f6fc;
    }
    
    @media screen and (max-width: 632px) {
        .footer {
            text-align: center;
        }
    }
    
    .footer__item {
        margin-top: 10px;
        text-align: center;
    }
    
    @media screen and (max-width: 632px) {
        .footer__item {
            margin-top: 20px;
        }
    }
    
    .footer__btn {
        text-align: center;
    }
    
    .btn__git:hover {
        fill: #ffffff;
    }
    
    .footer__link {
        text-decoration: none;
    }
    
    .footer__copyright {
        font-size: 12px;
        text-align: right;
    }
    
    @media screen and (max-width: 632px) {
        .footer__copyright {
            text-align: center;
        }
    }