@font-face {
    font-family: 'YandexSansText';
    src: url('fonts/YandexSansText-Regular.eot');
    src: url('fonts/YandexSansText-Regular.eot') format('embedded-opentype'), url('fonts/YandexSansText-Regular.woff2') format('woff2'), url('fonts/YandexSansText-Regular.woff') format('woff'), url('fonts/YandexSansText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'YandexSansText', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #8a8a8a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    color: #88ebf8;
    text-align: center;
}


/* header */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #c7f6fc;
}

.header__menu {
    display: flex;
    list-style: none;
}

.header__menu-item {
    margin-right: 20px;
}

.header__menu-link {
    color: #8a8a8a;
    text-decoration: none;
    text-transform: uppercase;
}

.header__menu-link:hover {
    color: #8a8a8a;
    text-decoration: underline;
}

.btn {
    padding: 10px 15px;
    background-color: #8a8a8a;
    border: 1px solid #8a8a8a;
    text-transform: uppercase;
    color: #c7f6fc;
}

.btn:hover {
    color: #8a8a8a;
    background-color: #c7f6fc;
}


/* about */

.about {
    display: flex;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .about {
        flex-direction: column;
        margin-top: 100px;
    }
}

.about__image {
    height: auto;
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
}

.about__text {
    max-width: 600px;
    margin-left: 50px;
}

@media screen and (max-width: 640px) {
    .about__text {
        margin-left: 0;
        margin-top: 40px;
        text-align: center;
    }
}

.about__text-description {
    margin-top: 30px;
}


/* skills */

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
}

.skills {
    margin-top: 150px;
}

.skills__title {
    margin-bottom: 50px;
}

.skills__item {
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .skills__item {
        text-align: center;
    }
}


/* projects */

.projects {
    margin-top: 150px;
}

.projects__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #c7f6fc;
}

@media screen and (max-width: 960px) {
    .projects__item {
        flex-direction: column;
    }
}

.projects__item:nth-child(odd) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 960px) {
    .projects__item:nth-child(odd) {
        flex-direction: column;
    }
}

.projects__item:last-child {
    border-bottom: 1px solid #c7f6fc;
}

.projects__item-image {
    height: auto;
    width: 100%;
    max-width: 300px;
}

.projects__item-text {
    max-width: 600px;
}

@media screen and (max-width: 960px) {
    .projects__item-text {
        text-align: center;
        margin-top: 40px;
    }
}


/* contacts */

.contacts {
    padding-top: 50px;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contacts__content-link {
    padding-left: 50px;
}

.contacts__content-link-tel,
.contacts__content-link-email {
    position: relative;
    margin-bottom: 15px;
}

.contacts__content-link-tel::before,
.contacts__content-link-email::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.contacts__content-link-email {
    margin-bottom: 30px;
}

.contacts__content-link-tel::before {
    background-image: url("img/telephone-call.png");
}

.contacts__content-link-email::before {
    background-image: url("img/email.png");
}

.contacts__content-link-description {
    color: #8a8a8a;
    text-decoration: none;
}

.contacts__content-link-description:hover {
    color: #88ebf8;
}

.svg-btn:hover {
    fill: #88ebf8;
}

.contacts__content-link-social {
    font-size: 0;
}

.contacts__content-link-social-tg {
    margin-right: 20px;
    margin-left: 15px;
}